* {
  box-sizing: border-box;
}

/* UNIVERSAL */

body {
  background-color: black;
}

.btn-dark {
  opacity: 0.9;
  margin-left: .2rem;
  margin-right: .2rem;
  background-color: darkgreen !important;
  border-radius: 0 !important;
  border: none !important;
  transition: ease .5s;

}

.btn-dark:hover {
  transition: ease .5s;
  background-color: rgb(1, 80, 1) !important;

}


.container-custom {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container-single {
  height: 100vh;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.background {
  background-color: black;
}


#error {
  font-size: 10px;
}



/* HOME */


.map-menu {
  position: relative;
  top: 100px;
  left: 100px;
}


.marker {
  cursor: pointer !important;
}




/* NAVBAR */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
}

.nav-background {
  background-color: rgb(0, 128, 0, 0.8) !important;
}

.fixed-top {
  backface-visibility: hidden;
  z-index: 999 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  cursor: pointer;
}

.search-bar {
  margin-right: 5rem;

}


.search-results a {
  color: white;
  font-size: .7rem;
  padding: .8rem .5rem .8rem .5rem;
  display: block;
}

.search-results a:hover {
  color: rgb(226, 224, 224);
  cursor: pointer;
  background-color: rgba(5, 168, 5, 0.6);
  text-decoration: none;

}

.search-results {
  position: absolute;
  top: 5rem;
  background-color: rgb(0, 128, 0, 0.8);
  z-index: 999;
  margin: 0;
  padding: 0;
  text-align: center;
}


/* LOGIN */


form {
  text-align: center;
  align-self: center;
}

form input {
  color: white !important;
  border-radius: 0 !important;
  background-color: rgb(255, 255, 255, 0.2) !important;
  border: 1px solid white;
}

form ::placeholder {
  color: rgb(255, 255, 255, 0.5) !important;
}


/* LEAGUE PAGE */




/* ACCOUNT PAGE */